<div class="col-md-3">
	<div class="left-side">
		<h4>Meeting Title - </h4>
		<hr>
		<h2><%= @meeting.meeting_name %></h2>
	  <!-- Button trigger modal -->
	  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	    Create Comment
	  </button>

	  <!-- Modal -->
	  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	          <h4 class="modal-title" id="myModalLabel">New Comment</h4>
	        </div>
	        <div class="modal-body">
	          <%= render partial: "comments/form" %>
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<div class="col-md-9">
	<div class="right-side">
		<table id="comments-table" class="table table-striped">
			<thead>
				<tr>
					<td class="td-head">Comment</td>
					<td class="td-head">User</td>
				</tr>
			</thead>
		  <% @meeting.comments.each do |comment| %>
		  <tbody>
				<tr>
					<td><%= comment.message %></td>
					<td><%= comment.meeting.user.first_name %></td>
				</tr>
			</tbody>
		  <%end%>
		</table>
	<%= link_to 'Back', room_path(@room), class: 'btn btn-success' %>
	</div>
</div>