<% @rooms.each do |room| %>
<div class="col-md-3">
	<ul>
		<li><%= image_tag room.room_image.url(:medium) %></li>
		<li>Room Name - <%= room.room_name %></li>
		<li>Description - <%= room.room_description %></li>
		<li>Room Location - <%= room.room_location %></li>
	</ul>
</div>
<% end %>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="paginate">
      <strong><%= paginate @rooms %></strong>
      <strong><%= page_entries_info @rooms %></strong>
    </div>
  </div>
</nav>