<!DOCTYPE html>
<html>
<head>
  <title>ConferenceRoomScheduler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
	    <ul>
		    <% unless user_signed_in? %>
	   <li class="btn"><%= link_to 'Home', root_path, class: 'links-nav' %></li>
      <li class="btn"><%= link_to 'Sign-Up', new_user_registration_path, class: 'links-nav' %></li>
      <li class="btn"><%= link_to 'Sign-In', new_user_session_path, class: 'links-nav'%></li>
			    <% else %>
	        <li class="btn btn-success"><%=link_to current_user.first_name,root_path, class: 'links-nav' %></li>
	        <li class="btn btn-primary"><%= link_to 'Room Index', rooms_path, class: 'links-nav' %></li>
			    <li class="btn btn-info"><%= link_to 'Profile Page', user_path(current_user.id), class: 'links-nav' %></li>
      <li class="btn"><%= link_to 'Sign-Out', destroy_user_session_path, method: :delete, class: 'links-nav' %></li>


			    <% end %>
	    </ul>
    </div>
  </div>
</nav>
<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
<%= yield %>
<script src='https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
</body>
</html>
